@font-face {
    font-family: 'Font01';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Font01.eot');
    src: url('../fonts/Font01.oot?#iefix') format('embedded-opentype'),
/*
        url('../fonts/Font01.woff2') format('woff2'),
        url('../fonts/Font01.woff') format('woff'),
*/
        url('../fonts/Font01.otf') format('truetype'),
        url('../fonts/Font01.svg#svgFontName') format('svg'); 
}



@font-face {
    font-family: 'Font02';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Font02.eot');
    src: url('../fonts/Font02.oot?#iefix') format('embedded-opentype'),
/*
        url('../fonts/Font02.woff2') format('woff2'),
        url('../fonts/Font02.woff') format('woff'),
*/
        url('../fonts/Font02.otf') format('truetype'),
        url('../fonts/Font02.svg#svgFontName') format('svg'); 
}



@font-face {
    font-family: 'Font03';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Font03.eot');
    src: url('../fonts/Font03.oot?#iefix') format('embedded-opentype'),
/*
        url('../fonts/Font02.woff2') format('woff2'),
        url('../fonts/Font02.woff') format('woff'),
*/
        url('../fonts/Font03.otf') format('truetype'),
        url('../fonts/Font03.svg#svgFontName') format('svg'); 
}


@font-face {
    font-family: 'NewYork';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/NewYork.eot');
    src: url('../fonts/NewYork.oot?#iefix') format('embedded-opentype'),

        url('../fonts/NewYork.otf') format('truetype'),
        url('../fonts/NewYork.svg#svgFontName') format('svg'); 
}

